html, body, #root {
    height:100%;
}
.cell {
    display:inline-block;
    outline:1px solid red;
    width:40px;
    height:40px;
}
.snake {
    background:#6c3b3b;
}
.food {
    background-image:url('./image/apple.png');
    background-size:100%;
}
.snake__head {
    position:relative;
    clip-path:polygon(30% 0%, 70% 0%, 101% 30%, 101% 70%, 101% 101%, 0 101%, 0% 70%, 0% 30%);
}
.snake__head::before{
    content:'';
    background:black;
    width:5px;
    height:5px;
    position:absolute;
    top:10px;
    left:25%;
}
.snake__head::after{
    content:'';
    background:black;
    width:5px;
    height:5px;
    position:absolute;
    top:10px;
    left:65%;
}
.snake__head--RIGHT {
    transform:rotate(90deg);
}
.snake__head--DOWN {
    transform:rotate(180deg);
}
.snake__head--LEFT {
    transform:rotate(270deg);
}

#board {
    position:relative;
    display:flex;
    flex-flow:row wrap;
    background-image: url('./image/grass.png');
}

.game-container {
    border:1px solid blue;
}